#loginForm {
  border: 3px solid #f1f1f1;
  width: 40%;
  margin: auto;
  padding: 16px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#button-submit {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#button-submit:hover {
  opacity: 0.8;
}

#unauthorized-user {
  text-align: center;
  padding: 10px;
  font-size: 135%;
}