#user-menu {
  width: 100%;
  background: black;
  padding: 10px 10px 10px 80px;
  margin-top: -8px;
  margin-left: -8px;
}

#user-menu li {
  display: inline-block;
}

#user-menu li a {
  font-family: "Times New Roman";
  text-decoration: none;
  color: white;
  padding: 10px 10px 10px 10px;
}

#user-menu li a:hover {
  padding: 10px 10px 10px 10px;
  background: #eeeeee;
  color: #a0a0a0;
}

.text {
  text-align: center;
}

@import './pages/admin/admin.page.scss';
@import './pages/home/home.page.scss';
@import './pages/login/login.page.scss';